extends layout

block content
 div(class='title')
  p #{title}
 div(class="infoside")
  p(id='username') #{name}
  p(id='account') Account: #{account} 
   a(href='http://localhost:5001/creditCard')
    i(class="fas fa-credit-card")
  p(id='balance') Balance: #{balance}
  button(type='button' class='indexbtn' onclick="location.href='/ads/myAd'") MY AD
  br
  br
  button(type='button' class='indexbtn' onclick="location.href='/ads/newAd'") CREATE AD
  br
  br
  button(type='button' class='indexbtn' onclick="location.href='/logout'")
   i(class='fas fa-sign-out-alt')
  br
  br
 div(class='midpage')
  div(class='logreg')
   p Card Number: 
   input(type='number' id='cardNo' name='cardNo')
   p Amount: 
   input(type='number' autocomplete='off' id='amount' name='amount')
   br
   button(type='button' class='indexbtn' onclick='Purchase()') Purchase
   p(id='errorP')
