doctype html
html
 head
  title GreenRabbit
  script(type='text/javascript' src='/javascripts/CloseMyAd.js')
  script(type='text/javascript' src='/javascripts/search.js')
  script(type='text/javascript' src='/javascripts/getAllMessages.js')
  script(type='text/javascript' src='/javascripts/DeleteMessage.js')
  script(type='text/javascript' src='/javascripts/Purchase.js')
  script(type='text/javascript' src='/javascripts/socket.io-client/dist/socket.io.js')
  script(type='text/javascript' src='/javascripts/sendMessage.js')
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')

 body
  header
   div(class='menubar')
    ul(class='menubar')
     li(class='menubar') 
      a(href='/search')
       i(class='fa fa-eye')
     li(class='menubar')
      a(href='/messages/myMessages')
       i(class='fas fa-envelope')
     li(class='menubar') 
      a(href='/secure')
       i(class='fa fa-home')
     li(class='menubar' style='float:left')
       div(id='officialIcon')
        p(id='iconText') GreenRabbit
         img(id='icon' src='/images/bell.png')
  block content
footer Copyright &copy; Roko