extends layout

block content
 div(class='midpage')
  h1 New Ad
  div(class='midPageForms')
   form(method='post' action='/secure')
    p
     label(for='ad') <em>Name:</em> 
     input(type='text', class='inputBox', name='name')
    p
     label(for='amount') <em>Amout:</em> 
     input(type='text', class='inputBox', name='amount')
    input(type='submit')
