extends layout

block content
 div(class='midpage')
  h1 New Ad
  div(class='midPageForms')
   form(method='post')
    p
     label(for='adName') <em>Name:</em> 
     input(type='text', class='inputBox', name='adName')
    p
     label(for='adAmount') <em>Amout:</em> 
     input(type='text', class='inputBox', name='adAmount')
    p
     label(for='adCathegory') <em>Cathegory:</em> 
     select(name='adCathegory', class='inputBox')
      each variable in ['Sport','Fun','Bussiness','Health']
       option(value=variable) #{variable}
    p(id='pDescription')
     label(for='adDescription') <em>Description:</em> 
     textarea(cols='40' class='inputBox' rows='5' id='DescriptionText' placeholder='Write your description...' name='adDescription')
    input(type='submit')
