extends layout

block content
 div(class='midpage')
  h1 New Ad
  div(class='logreg')
   p Name: 
   input(type='text' id='adName' autocomplete='off' class='inputBox' name='name')
   p Amout:
   input(type='text' autocomplete='off' id='amount' class='inputBox' name='amount')
   br
   button(type='button' class='indexbtn' onclick='CreateAd()') Submit
   p(id='errorP')
