extends layout

block content
  div(class='midpage')
   h1 Registration
   div(class='midPageForms')
    form(method='POST' class='paintForm' action='/register')
      div.form-group
       label <em>Username:</em> 
        input(type='text' required name='username')
       br
       label <em>Password:</em> 
        input(type='password' required name='password')
       br
       br
       button(type='submit' class='indexbtn') Register
