extends layout

block content
  div(class='midpage')
   h1 Registration
   div(class='midPageForms')
    form(method='POST' autocomplete='off' class='paintForm')
      div.form-group
       p
        label Username: 
         input(type='text' required name='username')
       p
        label Password: 
         input(type='password' required name='password')
       p
        label Number: 
         input(type='number' required name='number')
       p
        label PIN: 
         input(type='pin' required name='pin')
       button(type='submit' class='indexbtn') Register
