extends layout

block content
  div(class='midpage')
   h1 Registration
   div(class='midPageForms')
    form(method='POST' autocomplete='off' class='paintForm')
      div.form-group
       label Username: 
        input(type='text' required name='username')
       br
       label Password: 
        input(type='password' required name='password')
       br
       br
       button(type='submit' class='indexbtn') Register
