extends layout

block content
  div(class='midpage')
   h1 Registration
   form(method='POST' action='/register')
     div.form-group
      label <em>Username:</em> 
       input(type='text' required name='usrname')
      br
      br
      label <em>Email:</em> 
       input(type='email' required placeholder='name@email.com' name='email')
      br
      br
      div.form-group
       label <em>Password:</em> 
        input(type='password' required name='password')
      br
      br
      div.form-group
       label <em>Reenter Password:</em> 
        input(type='password' required name='repassword')
      br
      br
      button(type='submit' class='indexbtn') Register
   br
   br  