extends layout

block content
  div(class='midpage')
   h1 Registration
   div(class='logreg')
    p Username
    input(type='text' required autocomplete='off' id='username' name='username')
    p Password
    input(type='password' required id='password' name='password')
    p Card number
    input(type='text' required id='number' name='number')
    br
    button(type='button' onclick='Register()' class='indexbtn') Register
    p(id='errorP')
