extends layout

block content
 br
 div(class="infoside")
  p(id='username') #{name}
  p(id='account') Account: #{account} 
   a(href='/creditCard')
    i(class="fas fa-credit-card")
  p(id='balance') Balance: #{balance}
  button(type='button' class='indexbtn' onclick="location.href='/ads/myAd'") MY AD
  br
  br
  button(type='button' class='indexbtn' onclick="location.href='/ads/newAd'") CREATE AD
  br
  br
  button(type='button' class='indexbtn' onclick="location.href='/logout'")
   i(class='fas fa-sign-out-alt')
  br
  br
 div(class='midpage')
  div(class="searchTab")
   button(id='searchButt' onclick='Search()')
    i(class='fab fa-sistrix')
   input(type="text" id='searchInput' name="search" onfocus="this.placeholder= ''" onblur="this.placeholder= 'Search...'" placeholder="Search..." autocomplete='off')
   select(id='searchSelect')
    option(value = 'users') users
    option(value='ads') ads
  div(id='divWithData' class='midPageForms')
   - var i=0
    while i < 5
     form(id = 'form'+i method='post' action= '/?' autocomplete='off')
      p(id='pSearch'+i)
      p(id='formSub'+i) 	 
      p(id='butSub'+i++) 
   p(id='errorP')