extends layout

block content
 div(class='midpage')
  div(class="searchTab")
   input(type="text" id='searchInput' name="search" placeholder="Search..")
   button(id='searchButt' onclick='Search()') Search
  div(class='midPageForms')
   - var i=0
   form(method='post')
    while i < 5
     p(id='pSearch'+i++)
    p(id='formSub') 	 
    p(id='butSub') 
