extends layout

block content
 br
 div(class="infoside")
  p <em>Username:</em> #{name}
  button(type='button' class='indexbtn' onclick="location.href='/ads'") AD
  br
  br
  button(type='button' class='indexbtn' onclick="location.href='ads/newAd'") CREATE AD
  br
  br
  button(type='button' class='indexbtn' onclick="location.href='/logout'") LOGOUT
  br
  br
 div(class='midpage')
  h1 News
  p This is FREE web application for mutually donating of Bitcoins. Every day you can donate to any ad once. 
  p We trace every donation and one day you are going to pay back every coin earned.
