div.myad{
	
	padding: 20px;
	border-radius: 30px;
}
body {
	background-image: url('/images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	
}
hr{
	height: 15px;
	background-color: rgba(0, 0, 0,0.3);
}
img#icon{
	size:20px;
	width: 20px;
}
img#fesb{
	transform: rotate(270deg);
	width: 300px;
	size: 300px;
	padding-top: 30px;
	padding-bottom: 140px;
}
p#iconText{
	transform: rotate(340deg);
	color: green;
}
div.form-group{
	
	margin-left: 30px;
	margin-right: 30px;
	padding: 20px;
	
}

div.midPageForms{
	
	margin-bottom: 200px;
	margin-right: 300px;
	margin-left: 300px;
	margin-top: 20px;
	padding: 20px;

}
div#divWithData{
	background-color: rgba(0, 217, 255, 0);
}

div.searchAd{
	
	margin:30px;
	padding:30px;
}

button.indexbtn{
	
	background-color: rgba(58, 128, 0,0);
	font-family: Serif;
	font-size: 18px;
	color: black;
	border: none;
	outline: none;
}

button#searchButt{
	
	font-family: Serif;
	font-size: 18px;
	color: black;
	border: none;
    padding-bottom: 2.3px;
    padding-top: 0.2px;
	outline:none;
	background-color: rgba(0,0,0,0);
	
}

input[type=submit]{
	
	background-color: rgba(0,0,0,0);
	border: none;
	font-family: Serif;
	font-size: 18px;
	color: black;
	outline:none;
}
button#submitButt:hover{
	cursor:pointer;
}

button.indexbtn:hover{
	
	cursor: pointer;
}

button#searchButt:hover{
	
	cursor: pointer;

}

input[type=radio]:hover{
	
	cursor: pointer;
	
}

input[type=submit]:hover{
	
	cursor: pointer;
	
}


html{
	width: 100%;
	height: 100%;
	font-family: Serif;
	font-size: 24px;
}

div.midpage{
	
	margin-left: 150px;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	color:black;

}

header, footer {
    padding: 1em;
    color: black;
    clear: left;
	text-align: center;
	display: block;
}

div.profilepic{
	
	height: 100px;
	width: 150px;
}

img#profilepicture{

	border-radius: 80%;
	width:100%;
	border: 1px solid;
	border-color: black;
	max-width: 100%;
    max-height: 100%;

}

ul.menubar {
	
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li.menubar {
    float: right;
}

li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.menubar a:hover {
	font-weight: bold;
}
p#username {
	font: 400 50px/1.5 'Pacifico', Helvetica, sans-serif;
	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

div.infoside{
	margin-bottom: 20px;
	text-align:center;
	float:left;
	padding: 15px;
	color: black;
	font-size: 24px;
}

div.searchTab{
	margin-right:30px;
	margin-bottom: 5px;
	text-align: center;
}

input{
	border: none;
	border-bottom: 1px solid black;
	font-size: 14px;
	width: 130px;
	text-align: left;
	background:none;
	color: black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

input#DescriptionText{
	
	width:200px;
	height:50px; 
	
}

p#pDescription{
	
	vertical-align: middle;
	
}